# Android Gradle
.gradle/
build/
app/build/
/captures
.externalNativeBuild
.cxx
local.properties

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db
Desktop.ini

# Logs & temp
*.log
logcat*.txt
*.pyc
__pycache__/

# Android release
*.apk
*.aab
*.jks

# Old directory
Jingxiphone/

# Node
node_modules/
